@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

/* .hide-mobile-nav {
  transform: translateX(-100%);
} */
 
 /* .mobile-nav-menu {
  height: 100vh;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p, a, li {
  font-family: "Inter", sans-serif;
}

.hide-header {
    transform: translateY(-100%);
}
  
.nav-menu {
  display: block
}

.swiper {
  height: auto;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  text-align: center;
}

.mobile-nav > ul {
  gap: 10px;
}

.mobile-nav > ul > li {
  margin: 0;
}

/* Ensure container has fixed height and hides overflow */
.mobile-swiper {       
  overflow: hidden;
}

/* Make wrapper & slides fill that height */
.mobile-swiper .swiper-wrapper,
.mobile-swiper .swiper-slide {
  height: 100%;
}


/* Ensure container has fixed height and hides overflow */
.featuredNews {        /* adjust to taste */
  overflow: hidden;
}

/* Make wrapper & slides fill that height */
.featuredNews .swiper-wrapper,
.featuredNews .swiper-slide {
  height: 100%;
}

/* optional: pagination z-index */
.featuredNews .swiper-pagination {
  z-index: 10;
}

/* Ensure container has fixed height and hides overflow */
.singleFeaturedNews {
  height: 600px;     
}

/* Make wrapper & slides fill that height */
.singleFeaturedNews .swiper-wrapper,
.singleFeaturedNews .swiper-slide {
}

/* optional: pagination z-index */
.singleFeaturedNews .swiper-pagination {
  z-index: 10;
}


.scrollbar-custom::-webkit-scrollbar {
    width: 3px !important;
  }
  
.scrollbar-custom::-webkit-scrollbar-track {
    background: #1F773A !important;
}
  
.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #0a875a !important;
    border-radius: 4px !important;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #0a875a !important
}


/* Contact Form WP_FORMS */

#wpforms-760-field_2-container,
#wpforms-760-field_7-container {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

#wpforms-760-field_2-container {
  margin-right: 3%
}

.wpforms-container {
  margin: 0px !important;
  width: 50% !important;
}

.wpforms-field {
  padding-bottom: 0px !important;
}

.wpforms-field > label {
  margin-bottom: 2px !important;
}

.wpforms-submit-container > button {
  background-color: #FFC200 !important;
  border-radius: 20px 0px !important;
}


@media (max-width: 768px) {  
  .nav-menu {
    display: none
  }
}

/* Desktop (1024px and above) */
@media (max-width: 1024px) {
  #wpforms-760-field_2-container,
  #wpforms-760-field_7-container {
    display: block;     /* stack vertically */
    width: 100%;        /* take full width */
    margin-right: 0;    /* remove the side margin */
    margin-bottom: 15px; /* add some space between fields (optional) */
  }

  .wpforms-container {
    margin: 0px !important;
    width: 100% !important;
  }

  .wpforms-field {
    margin-bottom: 0px !important;
  }
}

@layer utilities {
  @keyframes flipY {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(360deg); }
  }

  .animate-flipY1 {
    animation: flipY 5s linear infinite;
    transform-style: preserve-3d;
  }

  .animate-flipY2 {
    animation: flipY 7s linear infinite;
    transform-style: preserve-3d;
  }
}
