@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.swiper {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

body.modal-open {
  overflow: hidden;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 3px !important;
  }
  
.scrollbar-custom::-webkit-scrollbar-track {
    background: #1F773A !important;
}
  
.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #0a875a !important;
    border-radius: 4px !important;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #0a875a !important
}


@layer utilities {
  @keyframes flipY {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(360deg); }
  }

  .animate-flipY1 {
    animation: flipY 5s linear infinite;
    transform-style: preserve-3d;
  }

  .animate-flipY2 {
    animation: flipY 7s linear infinite;
    transform-style: preserve-3d;
  }
}
