/* IsidoraSans */
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSans';
    src: url('./assets/fonts/IsidoraSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* IsidoraSansAlt */
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IsidoraSansAlt';
    src: url('./assets/fonts/IsidoraSansAlt-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Sateria */
@font-face {
    font-family: 'Sateria';
    src: url('./assets/fonts/Sateria.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}